<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="./vue.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./style.css">
  <title>Techno</title>
</head>
<body>
  <div id="app">

    <div class="modal" v-if="product">
      <div class="modal_container">
        <div class="modal_img">
          <img :src="product.img" :alt="product.name"></img>
        </div>
        <div class="modal_data">
          <span class="modal_price">{{product.price}}</span>
          <h2 class="modal_title">{{product.name}}</h2>
          <p>{{product.description}}</p>
          <button class="modal_btn">Adicionar Item</button>
        </div>
        <div class="reviews">
          <h2 class="review_subtitle">Avaliações</h2>
          <ul>
            <li v-for="review in product.reviews" class="review">
            <p class="review_description">{{review.description}}</p>
            <p class="review_user">{{review.name}} | {{review.stars}} estrelas</p>
            </li>
          </ul>
        </div>
      </div>
    </div>    

    <section class="products">
      <div v-for="item in products" @click="fetchProduct(item.id)" :key="item.id" class="product">
        <img :src="item.img" :alt="item.name" class="product_img">
        <div class="product_info">
          <span class="product_price">{{item.price | formatCurrency}}</span>
          <h2 class="product_title">{{item.name}}</h2>
        </div>
      </div>
    </section>

  </div>


  <script src="./app.js"></script>
</body>
</html>