* {
  box-sizing: border-box;
}

body,
h1,
h2,
ul,
li,
p {
  padding: 0px;
  margin: 0px;
}

ul {
  list-style: none;
}

body {
  background: linear-gradient(to right, #1a1a1a 30%, #ffffff 30%);
  font-family: "Noto Serif";
}

#app {
  padding: 0 80px;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  padding: 20px 0;
  margin: 0 auto;
}

.logo {
  width: 80px;
}

.cart_menu::after {
  content: "";
  display: inline-block;
  background: url("./assets/cart.svg") no-repeat center center;
  width: 25px;
  height: 25px;
  margin-left: 10px;
}

.cart_menu {
  display: flex;
  align-items: center;
  cursor: pointer;
}
/* List Product */

.products {
  max-width: 900px;
  margin: 100px auto 0 auto;
}

.product {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  background: #ffffff;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.product_img {
  max-width: 300px;
  margin-right: 40px;
}

.product_title {
  font-size: 3rem;
  line-height: 1;
}

.product_price {
  color: rgba(0, 0, 0, 0.5);
}

/* Modal */

.modal::before {
  content: "";
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 80px;
}

.modal_container {
  position: relative;
  background: linear-gradient(to right, transparent 250px, white 250px);
  z-index: 1;
  display: grid;
  align-items: end;
  grid-gap: 50px;
  padding: 50px 50px 50px 0px;
  animation: fadeIn 0.3s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(50px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0px, 0, 0);
  }
}

.modal_close {
  border-radius: 50%;
  border: 2px solid #000;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 1rem;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1), 0px 3px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.modal_img {
  grid-column: 1;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1), 0px 3px 4px rgba(0, 0, 0, 0.2);
}

.modal_img img {
  max-width: 300px;
  display: block;
}

.modal_data {
  grid-column: 2;
  max-width: 600px;
}

.modal_title {
  font-size: 3rem;
}

.modal_btn {
  margin-top: 80px;
  background: #000;
  cursor: pointer;
  color: #ffffff;
  border: none;
  font-size: 1rem;
  padding: 10px 25px;
  font-family: "Noto Serif";
}

.modal_btn:active {
  background: #808080;
}

.modal_btn.sold_off {
  background: #808080;
}
/* Reviews */

.reviews {
  grid-column: 2;
}

.review {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
}

.review_subtitle {
  font-size: 1.75rem;
}

.review_description {
  color: rgba(0, 0, 0, 0.7);
  margin: 20px 0 5px 0;
}

.review_user {
  font-weight: bold;
}

/* Alert */

.alert {
  position: absolute;
  top: 20px;
  left: 0px;
  z-index: 2;
  width: 100%;
  text-align: center;
  display: none;
}

.alert.active {
  display: block;
  animation: fadeInDown 0.3s forwards;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0px, 0);
  }
}

.alert_message {
  background: #ffffff;
  display: inline-block;
  padding: 20px 40px;
  border: 2px solid black;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1), 0px 4px 10px rgba(0, 0, 0, 0.2);
}
